<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>Run: {{DisplayName}} v{{version}} - Linux{{#64BitOnly}} (x64){{/64BitOnly}}</Title>
		<Description><![CDATA[
This task will run {{DisplayName}} v{{version}} scanner.<br>
<TABLE>
<TBODY>
<TR>
<TD><LABEL for=exclusionlist>List additional directories to be excluded from the scan, one per line:</LABEL> </TD>
<TD><TEXTAREA id=exclusionlist rows=10 cols=40 name=exclusionlist></TEXTAREA></TD></TR>
</TBODY>
</TABLE>
<script>
document.body.ontakeaction = function() {
  TakeFixletAction( 
	    Relevance('id of current fixlet'), Relevance('id of current bes site'), "Action1", {"exclusionlist": document.getElementById( "exclusionlist" ).value }, {} 
		);
  return false;
}
</script>
		]]>		</Description>
		<Relevance>unix of operating system</Relevance>
		{{#64BitOnly}}
		<Relevance><![CDATA["x86_64" = architecture of operating system]]></Relevance>
		{{/64BitOnly}}
		<Relevance><![CDATA[not exists modification times whose(now - it < 1*day) of files "results-log4j2-scan.txt" of folders "BPS-Scans" of parent folders of parent folders of client folders of sites "actionsite"]]></Relevance>
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>{{DisplayName}}</Source>
		<SourceID></SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{ {{#version}}"version":"{{version}}",{{/version}}"size":{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}{{^patch}}{{#icon_base64}},"icon":"data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}"{{/icon_base64}}{{/patch}} }</Value>
		</MIMEField>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to run {{DisplayName}} v{{version}}.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
//parameter "exclusionlist" is provided in the Description tab
// Download {{DisplayName}}:
{{{prefetch}}}

// Get shell binary, should return /bin/sh in most cases:
parameter "shell_bin" = "{ tuple string items 0 of concatenations ", " of ( it ; pathnames of files whose(name of it as lowercase = "sh" OR name of it as lowercase = "sh.exe") of (folders it) of unique values of (it as trimmed string) of substrings separated by (";";":") of values of (variables "PATH" of it; (if (windows of operating system) then (x64 variables "PATH" of it) else NOTHINGS) ) of environments ) of "/bin/sh" }"

// Delete destination of next command if applicable
delete /tmp/log4j2-scan

// TODO: Does this command work on Linux and Unix? Does this binary work on Unix?
wait tar -zxf __Download/{{file_name}} -C /tmp

// BES Client Folder Determination
if {name of operating system as lowercase starts with "win"}
    parameter "BPSFolder" = "{pathname of parent folder of client}\BPS-Scans\"
else
    parameter "BPSFolder" = "{(if (version of client >= "9" as version) then (pathname of parent folder of data folder of client) else (pathname of parent folder of parent folder of client folder of site "actionsite"))}/BPS-Scans/"
endif

if {not exists folder (parameter "BPSFolder")}
    folder create "{parameter "BPSFolder"}"
endif

parameter "ListFile"="{parameter "BPSFolder"}results-{{DisplayName}}.txt"
parameter "ExclusionFile"="{parameter "BPSFolder"}log4j2-path-exclusions.txt"

// Housekeeping, clear any previous scan output
delete __createfile
delete "{parameter "ListFile"}"
delete __appendfile
delete "{parameter "ExclusionFile"}"

// default exclusions list
appendfile {concatenation "%0a" of unique values whose(it does not contain " ") of (it;"/mnt";"/dev";"/cdrom") of items 0 of (mount points of it, filesystem types of it, types of it) whose(item 2 of it != "DRIVE_FIXED" OR item 1 of it is contained by set of ("cgroup";"cifs";"nfs";"cgroup2";"sysfs";"proc";"cpuset")) of filesystems}

// user-provided custom exclusions list
if {parameter "exclusionlist" as trimmed string != ""}
	appendfile {parameter "exclusionlist"}
endif

move __appendfile "{parameter "ExclusionFile"}"

// set to executable
run {parameter "shell_bin"} -c "chmod +x /tmp/log4j2-scan"

// Run {{DisplayName}}:
// WARNING: this may scan network drives unintentionally!!!
//   the following command attempts to exclude network drives, specifically nfs and cifs
run {parameter "shell_bin"} -c "cd /tmp && ./log4j2-scan --exclude-config '{parameter "ExclusionFile"}' / > '{parameter "ListFile"}'"

// End]]></ActionScript>
			<SuccessCriteria Option="OriginalRelevance"></SuccessCriteria>
		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
