<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>Run: {{DisplayName}} v{{version}} - Windows{{#64BitOnly}} (x64){{/64BitOnly}}{{#remediate}} - WITH REMEDIATION{{/remediate}}</Title>
		<Description><![CDATA[
{{>Description-CommunityTestStatement}}
		</P>
		{{>Log4J2Scan-Description-Links}}
		</P>
		{{>Log4J2Scan-Description}}
		</P>
		{{#remediate}}{{>Log4JScan-Description-Remediation}}{{/remediate}}
		<P>
		]]>		</Description>
		<Relevance>windows of operating system</Relevance>
		{{#64BitOnly}}
		<Relevance><![CDATA[x64 of operating system]]></Relevance>
		{{/64BitOnly}}
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>{{DisplayName}}</Source>
		<SourceID></SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{ {{#version}}"version":"{{version}}",{{/version}}"size":{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}{{^patch}}{{#icon_base64}},"icon":"data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}"{{/icon_base64}}{{/patch}} }</Value>
		</MIMEField>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to run {{DisplayName}} v{{version}}.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
// Download {{DisplayName}}:
begin prefetch block
{{{prefetch}}}

{{>ActionPrefetchBlockUnzipExe}}
collect prefetch items
end prefetch block

if {exists file "__Download\unzip.exe"}
  utility __Download/unzip.exe
endif


// BES Client Folder Determination
folder create "{pathname of parent folder of parent folder of client folder of site "actionsite"}/BPS-Scans"
parameter "BPSFolder"="{pathname of folder "BPS-Scans" of parent folder of parent folder of client folder of site "actionsite"}{if windows of operating system then "\" else "/"}"

// delete any existing copy if applicable
delete "{parameter "BPSFolder"}log4j2-scan.exe"

//Unzip.exe doesn't deal with the trailing slash on folder name
waithidden __Download\unzip.exe -o "{pathname of files "{{file_name}}" of folders "__Download" of client folder of current site}" -d "{pathname of folder (parameter "BPSFolder")}"

parameter "ListFile"="{parameter "BPSFolder"}results-{{DisplayName}}.txt"

// Housekeeping, clear any previous scan output
delete __createfile
delete "{parameter "ListFile"}"


// Run:
runhidden CMD /C ""{parameter "BPSFolder"}log4j2-scan.exe" --scan-log4j1 --no-symlink --no-empty-report --drives {concatenations "," of unique values of (it as lowercase) of preceding texts of firsts ":" of names of drives whose (type of it = "DRIVE_FIXED")}   {{remediate}} > "{parameter "ListFile"}""

// Wait up to 30 seconds for the logfile to be created to check successful starupt
parameter "StartTime"="{now}"
pause while {not exists file (parameter "ListFile") and now - (parameter "StartTime" as time) < 30 * second }
// Check that an output log file has been created as an indicator that the scan has launched successfully
continue if {exists file (parameter "ListFile") whose (modification time of it >= active start time of action)}

{{#remediate}}action requires restart{{/remediate}}

// End]]></ActionScript>

		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
