besapi
bigfix_prefetch
cairosvg
certifi
chevron
desktop_notifier
generate_bes_from_template
hachoir
icoextract
jsonpath_ng
looseversion
olefile
pefile
Pillow
pre-commit
python-magic
python-magic-bin; sys_platform == 'win32'
qrcode
# newer versions of signify (0.9.x) break our usage for now
signify==0.8.1
validate_bes_xml
