<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<Task>
		<Title>Install GitHub Action Runner - Windows x64</Title>
		<Description><![CDATA[&lt;enter a description of the task here&gt; ]]></Description>
		<Relevance>windows of operating system</Relevance>
		<Relevance>x64 of operating system</Relevance>
		<Relevance>not exists services whose(display name of it starts with "GitHub Actions Runner" AND running of it)</Relevance>
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>Internal</Source>
		<SourceID></SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to deploy this action.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
{{{prefetch}}}

{{>ActionPrefetchUnzipExe}}

action parameter query "github_url" with default "https://github.com/" with description "Enter the URL for a private repo, organization, or enterprise"

// GitHub URL Examples:
// https://github.com/user/repo

action parameter query "github_runner_token" with default "" with description "Enter the runner token found through GitHub when choosing to add a new runner. It should be 29 uppercase alphanumeric characters."

parameter "folder_path" = "\actions-runner"

folder create {parameter "folder_path"}

// put files in place
override wait
hidden=true
completion=job
wait __Download\unzip.exe -o "__Download\actions-runner-win-x64.zip" -d "{parameter "folder_path"}"

// setup service for runner
override wait
hidden=true
completion=job
wait CMD /C "cd {parameter "folder_path"} && config.cmd --unattended --url {parameter "github_url"} --token {parameter "github_runner_token"} --runasservice"

// WSL required for `bash`: (only possible if bare metal or nested virtualization)
// wsl --install -d Ubuntu

// Powershell is required for default shell commands:
// Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine

]]></ActionScript>
		</DefaultAction>
	</Task>
</BES>
