cask "autopkg" do
  version "{{version}}"
  sha256 "{{file_sha256}}"

  url "https://github.com/autopkg/autopkg/releases/download/v{version}/autopkg-{version}.pkg"
  name "AutoPkg"
  desc "Install AutoPkg"
  homepage "https://github.com/autopkg/autopkg"

  pkg "autopkg-{version}.pkg"

  uninstall pkgutil: "autopkg.autopkg"
end
