cask "autopkg" do
  version "{{version}}"
  sha256 "{{file_sha256}}"

  url "https://github.com/autopkg/autopkg/releases/download/v#{version}/autopkg-#{version}.pkg"
  name "AutoPkg"
  desc "Install AutoPkg"
  homepage "https://github.com/autopkg/autopkg"
  # https://github.com/autopkg/autopkg/blob/master/LICENSE.txt
  # license "Apache-2.0"

  pkg "autopkg-#{version}.pkg"

  uninstall pkgutil: "autopkg.autopkg"

  livecheck do
    url :homepage
    # regex to exclude pre-releases
    # example: v2.4.1 but NOT 2.5.0BETA1
    regex(/^v?(\d+(?:\.\d+)+)$/i)
  end
end
