---
name: Test Processor AutoPkgCacheCleanup

on:
  push:
    paths:
      - "SharedProcessors/AutoPkgCacheCleanup.py"
      - "Test-Recipes/AutoPkgCacheCleanup.test.recipe.yaml"
      - ".github/workflows/Processor_AutoPkgCacheCleanup.yaml"
  pull_request:
    paths:
      - "SharedProcessors/AutoPkgCacheCleanup.py"
      - "Test-Recipes/AutoPkgCacheCleanup.test.recipe.yaml"
      - ".github/workflows/Processor_AutoPkgCacheCleanup.yaml"

jobs:
  ProcessorAutoPkgCacheCleanup:
    strategy:
      matrix:
        # https://ncorti.com/blog/howto-github-actions-build-matrix
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout this repo
        uses: actions/checkout@v5

      - name: setup-autopkg local action
        uses: ./.github/actions/setup-autopkg

      # the processors being tested don't need these:
      # - name: Install requirements
      #   run: pip install --requirement requirements.txt

      - name: Set up old files
        shell: bash
        run: |
          mkdir -p ~/Library/AutoPkg/Cache/com.github.test/downloads
          touch ~/Library/AutoPkg/Cache/com.github.test/downloads/testfile.txt
          mkdir -p ~/Library/AutoPkg/Cache/com.github.jgstew.test.AutoPkgCacheCleanup/downloads
          echo "test" > ~/Library/AutoPkg/Cache/com.github.jgstew.test.AutoPkgCacheCleanup/downloads/tmpabcde

      - name: run recipe autopkg
        run: python autopkg/Code/autopkg run -vv Test-Recipes/AutoPkgCacheCleanup.test.recipe.yaml
# Related:
# - https://github.com/jgstew/bigfix-content/blob/master/.github/workflows/AutoPkgCoreProcessors.yaml
