---
name: Test Processor DateTimeFromString

on:
  push:
    paths:
      - "SharedProcessors/DateTimeFromString.py"
      - "Test-Recipes/DateTimeFromString.test.recipe.yaml"
      - ".github/workflows/Processor_DateTimeFromString.yaml"
  pull_request:
    paths:
      - "SharedProcessors/DateTimeFromString.py"
      - "Test-Recipes/DateTimeFromString.test.recipe.yaml"
      - ".github/workflows/Processor_DateTimeFromString.yaml"

jobs:
  ProcessorDateTimeFromString:
    strategy:
      matrix:
        # https://ncorti.com/blog/howto-github-actions-build-matrix
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout this repo
        uses: actions/checkout@v6

      - name: setup-autopkg local action
        uses: ./.github/actions/setup-autopkg

      # the processors being tested don't need these:
      # - name: Install requirements
      #   run: pip install --requirement requirements.txt

      - name: run recipe autopkg
        run: python autopkg/Code/autopkg run -vv Test-Recipes/DateTimeFromString.test.recipe.yaml
# Related:
# - https://github.com/jgstew/bigfix-content/blob/master/.github/workflows/AutoPkgCoreProcessors.yaml
