---
name: Test Processor FileExeVerifySignature

on:
  push:
    paths:
      - "SharedProcessors/FileExeVerifySignature.py"
      - "Test-Recipes/FileExeVerifySignature.test.recipe.yaml"
      - ".github/workflows/Processor_FileExeVerifySignature.yaml"
  pull_request:
    paths:
      - "SharedProcessors/FileExeVerifySignature.py"
      - "Test-Recipes/FileExeVerifySignature.test.recipe.yaml"
      - ".github/workflows/Processor_FileExeVerifySignature.yaml"

jobs:
  ProcessorFileExeVerifySignature:
    strategy:
      matrix:
        # https://ncorti.com/blog/howto-github-actions-build-matrix
        os: [ubuntu-22.04, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      # - name: Install prereq
      #   if: matrix.os == 'ubuntu-22.04'
      #   run: sudo apt-get install libssl-dev -y

      - name: setup-autopkg local action
        uses: ./.github/actions/setup-autopkg

      - name: Install requirements
        run: pip install --requirement requirements.txt

      - name: update pip package
        run: python -m pip install --upgrade oscrypto

      - name: run recipe autopkg
        run: python autopkg/Code/autopkg run -vv Test-Recipes/FileExeVerifySignature.test.recipe.yaml
# Related:
# - https://github.com/jgstew/bigfix-content/blob/master/.github/workflows/AutoPkgCoreProcessors.yaml
