---
name: Test VersionGetMajorMinor

on:
  push:
    paths:
      - "SharedProcessors/VersionGetMajorMinor.py"
      - "Test-Recipes/VersionGetMajorMinor.test.recipe.yaml"
      - ".github/workflows/VersionGetMajorMinor.yaml"
  pull_request:
    paths:
      - "SharedProcessors/VersionGetMajorMinor.py"
      - "Test-Recipes/VersionGetMajorMinor.test.recipe.yaml"
      - ".github/workflows/VersionGetMajorMinor.yaml"

jobs:
  VersionGetMajorMinor:
    strategy:
      matrix:
        # https://ncorti.com/blog/howto-github-actions-build-matrix
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: setup-autopkg local action
        uses: ./.github/actions/setup-autopkg

      - name: Install repo requirements
        run: pip install --requirement requirements.txt

      - name: run recipe autopkg
        run: python autopkg/Code/autopkg run -vv Test-Recipes/VersionGetMajorMinor.test.recipe.yaml
# Related:
# - https://github.com/jgstew/bigfix-content/blob/master/.github/workflows/AutoPkgCoreProcessors.yaml
