// Download ZipInst 1.21
//   http://www.nirsoft.net/utils/zipinst.html
prefetch zipinst.exe sha1:6a1290fd85019dc80e34abeb4be5bcbbc742d012 size:39424 https://www.nirsoft.net/utils/zipinst.exe sha256:d5249a08f76092c4b05a3c3295426fe2f481eaa3c11d2ca1dc50c6b323bb6002

// Add zipinst.exe to Utility Cache (to use in multiple tasks)
utility __Download\zipinst.exe
