<P><H3>This Action will attempt to remediate the vulnerability by using Log4j-Scan to modify the affected JAR files and remove the JndiLookup.class entry.</P>
HCL BigFix cannot determine whether remediating vulnerable Log4j-core-2.x.jar files will have a negative impact on any applications.<br>
Use this task to perform Remediation with care and test thoroughly in your environment.<H3><br>


