<P><H3>This Action will restore the original versions of JAR files that were previously remediated by a LogPresso scan.</H3></P>
After restoring the original JAR file versions, a new Scan should be executed to determine the new vulnerability status.<br>
A new Remediation may then be executed, potentially excluding the paths of whatever application fails to function after remediation.<br>
<H3>Files that were remediated by ALL prior scans are restored</H3><br>
